/* dark-theme.css */

/*mainDarkTheme*/
.root {
    -fx-font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    -fx-font-size: 12px;
    -fx-background-color: #2b2b2b;
}

/*botones*/
.button {
    -fx-background-color: linear-gradient(to bottom, #454749, #3c3f41);
    -fx-text-fill: #e0e0e0;
    -fx-font-size: 12px;
    -fx-border-color: #2a2a2a;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-padding: 8px 16px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 3, 0.0, 0, 1),
                innershadow(three-pass-box, rgba(255,255,255,0.1), 1, 0.0, 0, 1);
    -fx-cursor: hand;
    -fx-font-weight: bold;
    -fx-transition: all 0.2s ease-in-out;
}

.button:hover {
    -fx-background-color: linear-gradient(to bottom, #4b4e50, #454749);
    -fx-text-fill: #ffffff;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.4), 4, 0.0, 0, 1),
                innershadow(three-pass-box, rgba(255,255,255,0.15), 1, 0.0, 0, 1);
    -fx-translate-y: -1px;
}

.button:pressed {
    -fx-background-color: linear-gradient(to bottom, #363839, #3c3f41);
    -fx-effect: innershadow(three-pass-box, rgba(0,0,0,0.4), 4, 0.0, 0, 0);
    -fx-translate-y: 1px;
}

/*etiquetas*/
.custom-label {
    -fx-text-fill: #e0e0e0;
    -fx-font-weight: bold;
}
.custom-label1 {
    -fx-background-color: rgba(60, 63, 65, 1);
    -fx-padding: 3 10 4 10;
    -fx-alignment: center;
    -fx-border-color: rgba(224, 224, 224, 0.2);
    -fx-text-fill: #f0f0f0;
    -fx-border-width: 2px;
    -fx-background-radius: 4px;
    -fx-border-radius: 4px;
}


.custom-text-area {
    -fx-background-color: rgba(60, 63, 65, 0.9);
    -fx-control-inner-background: rgba(60, 63, 65, 0.9);
    -fx-text-fill: #e0e0e0;
    -fx-border-color: #666666;
    -fx-border-width: 1px;
    -fx-border-radius: 4px;
    -fx-background-radius: 4px;
    -fx-padding: 0px 2px 10px 2px;
}

/*textField*/
.custom-text-field {
    -fx-background-color: #3c3f41;
    -fx-text-fill: #c0c0c0;
    -fx-border-color: #555555;
    -fx-border-width: 1px;
    -fx-border-radius: 4px;
    -fx-background-radius: 4px;
    -fx-padding: 6px 10px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.1), 1, 0, 0, 1);
    -fx-transition: border-color 0.3s, background-color 0.3s;
}

.custom-text-field:hover {
    -fx-border-color: #888888;
}

.custom-text-field:focused {
    -fx-border-color: #00aaff;
    -fx-background-color: #3c3f41;
    -fx-effect: dropshadow(three-pass-box, rgba(0,170,255,0.3), 4, 0, 0, 2);
}

/*eliminar barra de desplazamiento horizontal (visual) */
.text-area .scroll-pane {
    -fx-hbar-policy: never;
    -fx-vbar-policy: never;

}


/*gráfico*/
.axis-label, .chart-title{
    -fx-text-fill: #e0e0e0;
}

.chart {
    -fx-background-color: #2b2b2b;
    -fx-background-insets: 0;
}

.chart-plot-background {
    -fx-background-color: #3c3f41;
}

.chart-legend {
    -fx-background-color: #3c3f41;
    -fx-text-fill: #e0e0e0;
}
.chart-legend-item {
    -fx-text-fill: #e0e0e0;
}
.axis {
    -fx-tick-label-fill: #e0e0e0;
}
.chart-horizontal-grid-lines, .chart-vertical-grid-lines {
    -fx-stroke: rgba(96, 96, 96, 0.7); /* Gris más opaco para las líneas de cuadrícula */
}






