/* light-theme.css */

/* Fuente base para toda la aplicación */
.root {
    -fx-font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    -fx-font-size: 12px;
    -fx-background-color: #f4f4f4;
}

/* Estilos para botones */
.button {
    -fx-background-color: linear-gradient(to bottom, #ffffff, #f8f8f8);
    -fx-text-fill: #333333;
    -fx-font-size: 12px;
    -fx-border-color: #cccccc;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-padding: 8px 16px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.1), 3, 0.0, 0, 1),
                innershadow(three-pass-box, rgba(255,255,255,0.8), 1, 0.0, 0, 1);
    -fx-cursor: hand;
    -fx-font-weight: bold;
    -fx-transition: all 0.2s ease-in-out;
}

.button:hover {
    -fx-background-color: linear-gradient(to bottom, #f8f8f8, #f0f0f0);
    -fx-text-fill: #000000;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.15), 4, 0.0, 0, 1),
                innershadow(three-pass-box, rgba(255,255,255,0.9), 1, 0.0, 0, 1);
    -fx-translate-y: -1px;
}

.button:pressed {
    -fx-background-color: linear-gradient(to bottom, #e6e6e6, #eeeeee);
    -fx-effect: innershadow(three-pass-box, rgba(0,0,0,0.15), 4, 0.0, 0, 0);
    -fx-translate-y: 1px;
}

/* Estilos para etiquetas personalizadas */
.custom-label {
    -fx-text-fill: #333333;
    -fx-font-weight: bold;

}
.custom-label1 {
    -fx-background-color: white;
    -fx-padding: 3 10 4 10;-fx-alignment: center;
    -fx-border-color: #e0e0e0;
    -fx-border-width: 3px;
    -fx-background-radius: 4px;
    -fx-border-radius: 4px;
}
.custom-label2 {
    -fx-text-fill: #333333;
    -fx-font-weight: bold;
    -fx-font-family: 'Courier New';
    -fx-font-size: 12px;
}

/* Estilos para áreas de texto personalizadas */
.custom-text-area {
    -fx-control-inner-background: #ffffff;
    -fx-text-fill: #333333;
    -fx-border-color: #e0e0e0;
    -fx-border-width: 1px;
    -fx-border-radius: 4px;
    -fx-background-radius: 4px;
    -fx-padding: 5px 2px 10px 2px;
}


/* Estilos para campos de texto personalizados */
.custom-text-field {
    -fx-background-color: #ffffff;
    -fx-text-fill: #333333;
    -fx-border-color: #cccccc;
    -fx-border-width: 1px;
    -fx-border-radius: 4px;
    -fx-background-radius: 4px;
    -fx-padding: 6px 10px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.05), 1, 0, 0, 1);
    -fx-transition: border-color 0.3s, background-color 0.3s;
}

.custom-text-field:hover {
    -fx-border-color: #999999;
}

.custom-text-field:focused {
    -fx-border-color: #0066cc;
    -fx-background-color: #ffffff;
    -fx-effect: dropshadow(three-pass-box, rgba(0,102,204,0.2), 4, 0, 0, 2);
}

/* Eliminar barra de desplazamiento horizontal (solo visualmente) */
.text-area .scroll-pane {
    -fx-hbar-policy: never;
    -fx-vbar-policy: never;
}